<!DOCTYPE html>
<html>
  <head>
    <title>Patrick Fisher – Fall 2025 Semester Schedule</title>
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body>
    <h1>My Fall 2025 Semester Schedule</h1>
    <div id="navbar-container"></div>
    <table border="1" cellpadding="8">
      <thead>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ECO 1001 – 9:35AM to 10:25am</td>
          <td>ECO 1002 – 8:30AM to 9:45AM</td>
          <td>ECO 1001 – 9:35AM to 10:25am</td>
          <td>ECO 1002 – 8:30AM to 9:45AM</td>
          <td>ECO 1001 – 9:35AM to 10:25am</td>
        </tr>
        <tr>
          <td>CSC 1700 – 10:40AM to 11:30AM</td>
          <td>ECE 4971 - 1:00PM to 2:15PM</td>
          <td>CSC 1700 – 10:40AM to 11:30AM</td>
          <td>ECE 4971 - 1:00PM to 2:15PM</td>
          <td>CSC 1700 – 10:40AM to 11:30AM</td>
        </tr>
        <tr>
          <td>ECE 5450 – 6:15PM to 8:45PM</td>
          <td>CSC 2053 - 6:15PM to 9:00PM</td>
          <td>CHI 2140 - 6:15PM to 8:55PM</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <script src="../resources/js/navbar.js"></script>
    <script>loadNavbar();</script>
  </body>
</html>
